:root {
  --title-title-3-semibold-font-family: "Inter", Helvetica;
  --title-title-3-semibold-font-weight: 600;
  --title-title-3-semibold-font-size: 20px;
  --title-title-3-semibold-letter-spacing: -0.4px;
  --title-title-3-semibold-line-height: 139.9999976158142%;
  --title-title-3-semibold-font-style: normal;
  --caption-caption-1-reguler-font-family: "Inter", Helvetica;
  --caption-caption-1-reguler-font-weight: 400;
  --caption-caption-1-reguler-font-size: 14px;
  --caption-caption-1-reguler-letter-spacing: -0.40799999237060547px;
  --caption-caption-1-reguler-line-height: 139.9999976158142%;
  --caption-caption-1-reguler-font-style: normal;
  --body-body-bold-font-family: "Inter", Helvetica;
  --body-body-bold-font-weight: 600;
  --body-body-bold-font-size: 16px;
  --body-body-bold-letter-spacing: -0.40799999237060547px;
  --body-body-bold-line-height: 150%;
  --body-body-bold-font-style: normal;
  --number-16: 16px;
  --number-20: 20px;
  --number-60: 60px;
  --color-neutral-90: rgba(10, 2, 3, 1);
  --color-neutral-60: rgba(71, 84, 103, 1);
  --color-primary-10: rgba(228, 217, 248, 1);
  --color-neutral-100: rgba(0, 0, 0, 1);
  --color-secondary-10: rgba(255, 252, 248, 1);
  --color-neutral-50: rgba(160, 164, 176, 1);
  --color-primary-30: rgba(119, 67, 219, 1);
}