:root {
  --body-body-bold-font-family: "Inter", Helvetica;
  --body-body-bold-font-weight: 600;
  --body-body-bold-font-size: 16px;
  --body-body-bold-letter-spacing: -0.40799999237060547px;
  --body-body-bold-line-height: 150%;
  --body-body-bold-font-style: normal;
  --caption-caption-1-medium-font-family: "Inter", Helvetica;
  --caption-caption-1-medium-font-weight: 500;
  --caption-caption-1-medium-font-size: 14px;
  --caption-caption-1-medium-letter-spacing: -0.40799999237060547px;
  --caption-caption-1-medium-line-height: 150%;
  --caption-caption-1-medium-font-style: normal;
  --footnote-footnote-medium-font-family: "Poppins", Helvetica;
  --footnote-footnote-medium-font-weight: 500;
  --footnote-footnote-medium-font-size: 13px;
  --footnote-footnote-medium-letter-spacing: -0.07800000160932541px;
  --footnote-footnote-medium-line-height: 135.0000023841858%;
  --footnote-footnote-medium-font-style: normal;
  --caption-caption-1-reguler-font-family: "Inter", Helvetica;
  --caption-caption-1-reguler-font-weight: 400;
  --caption-caption-1-reguler-font-size: 14px;
  --caption-caption-1-reguler-letter-spacing: -0.40799999237060547px;
  --caption-caption-1-reguler-line-height: 139.9999976158142%;
  --caption-caption-1-reguler-font-style: normal;
  --body-body-medium-font-family: "Inter", Helvetica;
  --body-body-medium-font-weight: 500;
  --body-body-medium-font-size: 16px;
  --body-body-medium-letter-spacing: -0.40799999237060547px;
  --body-body-medium-line-height: 150%;
  --body-body-medium-font-style: normal;
  --number-16: 16px;
  --number-20: 20px;
  --number-00: 0px;
  --number-16-duplicate: 16px;
  --number-00-duplicate: 0px;
  --color-neutral-100: rgba(0, 0, 0, 1);
  --color-neutral-90: rgba(10, 2, 3, 1);
  --color-neutral-50: rgba(160, 164, 176, 1);
  --color-neutral-80: rgba(29, 41, 57, 1);
  --color-neutral-60: rgba(71, 84, 103, 1);
  --color-neutral-30: rgba(225, 225, 225, 1);
  --color-neutral-20: rgba(242, 244, 247, 1);
  --color-neutral-30-duplicate: rgba(225, 225, 225, 1);
  --color-neutral-80-duplicate: rgba(29, 41, 57, 1);
  --color-neutral-60-duplicate: rgba(71, 84, 103, 1);
  --color-neutral-20-duplicate: rgba(242, 244, 247, 1);
  --color-primary-30: rgba(119, 67, 219, 1);
  --color-neutral-90-duplicate: rgba(10, 2, 3, 1);
  --color-secondary-10: rgba(255, 252, 248, 1);
  --color-neutral-50-duplicate: rgba(160, 164, 176, 1);
  --color-neutral-100-duplicate: rgba(0, 0, 0, 1);
}