:root {
  --body-body-bold-font-family: "Inter", Helvetica;
  --body-body-bold-font-weight: 600;
  --body-body-bold-font-size: 16px;
  --body-body-bold-letter-spacing: -0.40799999237060547px;
  --body-body-bold-line-height: 150%;
  --body-body-bold-font-style: normal;
  --caption-caption-2-medium-font-family: "Inter", Helvetica;
  --caption-caption-2-medium-font-weight: 500;
  --caption-caption-2-medium-font-size: 12px;
  --caption-caption-2-medium-letter-spacing: 0px;
  --caption-caption-2-medium-line-height: 139.9999976158142%;
  --caption-caption-2-medium-font-style: normal;
  --caption-caption-1-medium-font-family: "Inter", Helvetica;
  --caption-caption-1-medium-font-weight: 500;
  --caption-caption-1-medium-font-size: 14px;
  --caption-caption-1-medium-letter-spacing: -0.40799999237060547px;
  --caption-caption-1-medium-line-height: 150%;
  --caption-caption-1-medium-font-style: normal;
  --caption-caption-3-bold-font-family: "Inter", Helvetica;
  --caption-caption-3-bold-font-weight: 700;
  --caption-caption-3-bold-font-size: 10px;
  --caption-caption-3-bold-letter-spacing: 0.05999999865889549px;
  --caption-caption-3-bold-line-height: 139.9999976158142%;
  --caption-caption-3-bold-font-style: normal;
  --footnote-footnote-medium-font-family: "Poppins", Helvetica;
  --footnote-footnote-medium-font-weight: 500;
  --footnote-footnote-medium-font-size: 13px;
  --footnote-footnote-medium-letter-spacing: -0.07800000160932541px;
  --footnote-footnote-medium-line-height: 135.0000023841858%;
  --footnote-footnote-medium-font-style: normal;
  --title-title-3-semibold-font-family: "Inter", Helvetica;
  --title-title-3-semibold-font-weight: 600;
  --title-title-3-semibold-font-size: 20px;
  --title-title-3-semibold-letter-spacing: -0.4px;
  --title-title-3-semibold-line-height: 139.9999976158142%;
  --title-title-3-semibold-font-style: normal;
  --caption-caption-1-reguler-font-family: "Inter", Helvetica;
  --caption-caption-1-reguler-font-weight: 400;
  --caption-caption-1-reguler-font-size: 14px;
  --caption-caption-1-reguler-letter-spacing: -0.40799999237060547px;
  --caption-caption-1-reguler-line-height: 139.9999976158142%;
  --caption-caption-1-reguler-font-style: normal;
  --body-body-medium-font-family: "Inter", Helvetica;
  --body-body-medium-font-weight: 500;
  --body-body-medium-font-size: 16px;
  --body-body-medium-letter-spacing: -0.40799999237060547px;
  --body-body-medium-line-height: 150%;
  --body-body-medium-font-style: normal;
  --card-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px
    rgba(0, 0, 0, 0.04);
  --number-12: 12px;
  --number-16: 16px;
  --number-24: 24px;
  --number-60: 60px;
  --number-00: 0px;
  --number-08: 8px;
  --number-16-duplicate: 16px;
  --number-24-duplicate: 24px;
  --number-60-duplicate: 60px;
  --number-12-duplicate: 12px;
  --number-00-duplicate: 0px;
  --color-neutral-00: rgba(255, 255, 255, 1);
  --color-gold-10: rgba(255, 243, 209, 1);
  --color-secondary-10: rgba(255, 252, 248, 1);
  --color-secondary-20: rgba(255, 244, 230, 1);
  --color-neutral-60: rgba(71, 84, 103, 1);
  --color-secondary-50: rgba(252, 179, 81, 1);
  --color-neutral-80: rgba(29, 41, 57, 1);
  --color-neutral-80-duplicate: rgba(29, 41, 57, 1);
  --color-neutral-50: rgba(160, 164, 176, 1);
  --color-neutral-30: rgba(225, 225, 225, 1);
  --color-neutral-50-duplicate: rgba(160, 164, 176, 1);
  --color-primary-30: rgba(119, 67, 219, 1);
  --color-secondary-10-duplicate: rgba(255, 252, 248, 1);
  --color-neutral-20: rgba(242, 244, 247, 1);
  --color-secondary-50-duplicate: rgba(252, 179, 81, 1);
  --color-secondary-20-duplicate: rgba(255, 244, 230, 1);
  --color-neutral-00-duplicate: rgba(255, 255, 255, 1);
  --color-neutral-30-duplicate: rgba(225, 225, 225, 1);
  --color-primary-10: rgba(228, 217, 248, 1);
  --color-neutral-60-duplicate: rgba(71, 84, 103, 1);
  --color-gold-10-duplicate: rgba(255, 243, 209, 1);
  --color-neutral-90: rgba(10, 2, 3, 1);
}
